:root {
  --primary-color: #4966FF;
  --secondary-color: #FFFFFF;
  --third-color: #A2A2A2;
  --font-fam: "Inter", sans-serif;
  --light-weigth: 300;
  --regular-weigth: 400;
  --strong-weight: 600;
  --font-s:16px;
  --font-xl:24px;
  --font-m:20px;
  --font-text:14px;
  color-scheme: light;
  color: #0f0f0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html{
  width: 100vw;
  height: 100vh;
}

#root{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
/* Quita recuadro azul al hacer click */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color:var(--primary-color);
}

h1 {
  font-size: var(--font-xl);
}
h2{
  font-weight: var(--light-weigth);
  font-size: var(--font-m);
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-fam);
}
h1,h2,h3,h4,p{
  font-family: var(--font-fam);
  margin: 0;
}
button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
.profile-pic{
  width: 40px;
}
.profile-pic img{
  object-fit: contain;
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.document-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.document-info{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px 30px 100px 30px;
  box-sizing: border-box;
  text-align: left;
}
.document-info-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.document-nav{
  width: 100%;
  padding-inline-start: 0;
  margin-inline:0 ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  border-bottom: 1px solid var(--third-color);
}

.document-nav li{
  width: 100%;
}
.document-nav li button{
  color: var(--third-color);
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: var(--light-weigth);
  border-radius: 0;
}
.active-document-nav{
  color: var(--primary-color) !important;
  border-bottom: 2px solid var(--primary-color);
}
.document-visualizer{
  height: 100%;
  flex-grow: 1;
}
.visualizer{
  height: 50%;
  display: block;
  width: 100%;
  overflow: hidden;
}
iframe{
  width: 100%;
  height: 100%;
}

.document-archive{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px 30px 100px 30px;
  display: flex;
  flex-direction:row ;
  box-sizing: border-box;
  justify-content: space-between;
}

.document-comments{
  position: relative;
  padding: 10px 30px 100px 30px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-text);
}

.document-comments>div{
  border-bottom: 1px solid var(--third-color);
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
  gap:10px;
  & textarea{
    resize: none;
    font-family: var(--font-fam);
  }
}

.comment-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--third-color);
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: var(--secondary-color);

  & img {
    width: 25px;
    height: 25px;
  }
}
/* For the preview */
.preview-element-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--third-color);
  border-radius: 10px;
  width: 180px;
  height: 280px;
}

.bg-image {
  width: 100%;
  object-fit: cover;
}

.icon-pic {
  position: absolute; 
  width: 40px;
  height: 40px;
  top: 5%;
  right: 74%;
  z-index: 1; /* Asegura que la imagen de perfil esté sobre la imagen principal */
}

.main-content{
  height: 100%;
  display: block;
}

.add-pic {
  width: 20px;
  height: 20px;
  left: 170px;
  top: 270px;
}

.disp-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.name-container {
  flex: 1;
}

.add-img-container {
  flex: 0.25;
}

/* For the Carousel*/

.carousel-container {
  height: 270px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 5px 0px 5px 0px;
}

.carousel-scroll {
  height: 100%;
  display: flex;
  gap: 3px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* En internet pone que es para IOs yo ni idea*/
  margin: 0 0px 0 5px;
}

.carousel-container .preview-element-container {
  height: 80%;
  width: 49%;
  flex: 0 0 auto;
}
.carousel-container .profile-pic {
  top: 70%;
}

.carousel-container .icon-pic {
  left: 5%;
}

/* For the searchbar */

.search-bar {
  display: flex;
  align-items: center;
  width: 90%;
  max-height: 10%;
  margin: 2% 0% 2% 2%;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--third-color);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgb(179 167 167 / 20%);
}

.search-button {
  margin-block-start: 10px;
  padding: 10px;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.search-button:hover {
  background-color: var(--third-color)
}

.usuarios-reel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap:7px;
  padding:  0 20px 10px 20px;
  & .profile-pic {
    padding-top: 0.25em;
    height: fit-content;
    width: 100%;

    & img {
      width: 70px;
    }
  }
}

.login-page {
  width: 100vw;
  height: 100vh;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/login-bg.png");
  background-size: cover;
  background-position: center;

  & button#enviar {
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    color: var(--primary-color);
  }

  & input {
    border: 0.2px solid var(--third-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    height: 1.5rem;
    width: 70vw;
  }

  & label, p, a {
    font-weight: var(--strong-weight);
    color: var(--secondary-color);
  }

  & p {
    margin-bottom: 0.6rem;
  }

  & a{
    text-decoration: underline;
    margin-top: 0.8rem;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    height: 100%;
  }

  & img {
    width: 80px;
    height: 80px;
  }
}

.categorias {
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 2;

  & li button {
    font-size: var(--font-text);
    padding: 10px;
    border-radius: 0;
    font-weight: var(--strong-weight);
  }
}

.active-home-nav {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.2rem;
}

.previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.5rem;
}
/* FOR THE SEARCHPAGE LAYOUT */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
/* Banner */
.banner-container {
  height: 210px;
  width: 100%;
}

.banner-container img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.banner-txt {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  font-weight: 600;
  color: var(--secondary-color);
}

/* filter by format */
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.format-button {
  background-color: var(--third-color);
  width: 17%;
  height: 85%;
  border: none;
  padding: 3px 7px 8px 7px;
  border-radius: 8px;
  margin: 4px 0px 0px 20px;
}

.format-button img {
  width: 100%;
  height: 88%;
  margin: 0px 0px 3px 0px;
  object-fit: contain;
}

.clicked-button {
  background-color: var(--primary-color);
  width: 17%;
  height: 85%;
  border: white solid 2px;
  padding: 3px 7px 8px 7px;
  border-radius: 8px;
  margin: 4px 0px 0px 20px;
}

.clicked-button img {
  width: 100%;
  height: 88%;
  margin: 0px 0px 3px 0px;
  object-fit: contain;
}
.button-text {
  color: var(--secondary-color);
}

/* Dropdowns */
.dropdown-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: auto;
  gap: 15px;
  margin: 4px 0px 0px 20px;
}
.dropdown {
  background-color: var(--third-color);
  width: 90%;
  height: 47%;
  border: none;
  padding: 10px;
  border-radius: 8px;
}
.dropdown option {
  background-color: var(--third-color);
  color: var(--secondary-color);
}

/* filter by date */

.date-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px 0px 0px 20px
}

.home-container{
  
}

.date-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 5px;
}

.date-inputs input[type="date"]{
  margin-right: 20px;
  background-color: var(--third-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 2em;
  color: var(--secondary-color);
}

/* for the relevant files */
.relevan-files-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 75px;
}

/* for the page: searchResults */

.related-profiles-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  margin: 15px 0px 0px 115px;
  transform: scale(1.5);
  gap: 8px
}

.view-all-btn {
  width: fit-content;
  height: 23px;
  font-size: x-small;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
  margin: -40px 0 0 4%;
}

.submit-form{
  margin:0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  & div{
    display: block;
    box-sizing: content-box;
    margin: 10px 0 10px 0;
  }
  & label{
    display: block;
  }
  & input{
    width: 95%;
  }
  & textarea{
    width: 95%;
    resize: none;
  }
  & button{
    background-color: var(--primary-color);
    color: #FFFFFF;
  }
}

.profile-info{
  padding: 10px;
  & input{
    border:none;
  }
}

.profile-page{
  box-sizing: border-box;
  text-align: left;
  & .profile-image{
    align-items: center;
    border-radius: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
}

.profile-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 15px;
  & h2{
    font-weight: 600;
  }
}

.previews{
  & .search-input{ 
    margin-top: 5px;
    background-color: var(--primary-color);
    color: #FFFFFF;
  }
}

